<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    <accordion>
        <accordion-group heading="Work Experience">
                  <ul class="list-unstyled text-start">
                    <li>
                    <strong>Final Year Project – Online Society</strong><br>
                    Developed an AI-based recruitment application.<br>
                    <em>Technologies:</em> Spring Boot, Angular, MongoDB, Python (Scikit-learn)
                    </li>
                    <hr>
                    <li>
                    <strong>Internship – TeamWill</strong><br>
                    Worked on advanced development tasks and practical training in IT systems.
                    </li>
                </ul>
        </accordion-group>

        <accordion-group heading="Education">
                <ul class="list-unstyled text-start">
                    <li>
                    <strong>Bachelor’s Degree in Information Technology</strong><br>
                    Institut Supérieur des Études Technologiques de Djerba (ISET Djerba)
                    </li>
                    <li>
                    <strong>Baccalaureate</strong> – Lycée Ibn Mandhour
                    </li>
                </ul>
        </accordion-group>

        <accordion-group heading="Certifications">
             <ul class="list-unstyled text-start">
                <li>Microsoft Certified: Azure Fundamentals</li>
                <li>Google Data Analytics Professional Certificate</li>
                <li>IBM AI Engineering Professional Certificate</li>
                <li>FreeCodeCamp – Responsive Web Design</li>
            </ul>
        </accordion-group>

        <accordion-group heading="Skills">
                  <ul class="list-unstyled text-start">
                    <li><strong>Programming:</strong> Java, Python, JavaScript, TypeScript</li>
                    <li><strong>Frameworks & Libraries:</strong> Angular, Spring Boot, TensorFlow, Scikit-learn</li>
                    <li><strong>Databases:</strong> MongoDB</li>
                    <li><strong>Tools:</strong> Git, JSON-server, WAMPServer</li>
                    <li><strong>Other:</strong> Artificial Intelligence, Machine Learning, Data Analysis</li>
                </ul>
        </accordion-group>
    </accordion>
</div>